.set {
  margin: 4px;
  padding: 4px;
  height: 160px;
  /*border: 1px solid #bbb;*/
  background-color: #eee;
  font-size: 1em;
  text-decoration: none;
  color: #333;
}

.set img {
  max-height: 150px;
  max-width: 150px;
}