.set {
  margin: 10px;
  padding: 10px;
  width: 120px;
  height: 120px;
  /*border: 1px solid #bbb;*/
  background-color: #eee;
  font-size: 1.2em;
  text-decoration: none;
  color: #333;
}

.set img {
  max-height: 100px;
  max-width: 100px;
}